body{
      background: url(../images/background.jpg) no-repeat center;
      padding: 0%;
      margin: 0%;
}
.test{
      width: 350px;
      height: 500px;
      background-color: rgba(255, 255, 255, 0.632);
      margin-left: 500px;
      margin-top: 60px;
      border-radius: 20px;
}
.test:hover{
      background-color: rgba(72, 81, 99, 0.277);
}
.text{
      position: relative;
      top: -40px;
      background-color: aquamarine;
      margin: 10px;
      border-radius: 20px;
      text-align: center;
      padding: 10px;
}
.text:hover{
      background-color: rgb(140, 140, 227);
}
.text>img{
      height: 100px;
      width: 100px;
      border: 3px solid white;
      border-radius: 60%;
}
.test>ul>li{
      list-style: inside;
      font-weight: bold;
      margin-top: 10px;
}
.test>ul>li:first-child{
      list-style-image: url(../images/mobile.png);
}
.test>ul>li:nth-child(3){
      list-style-image: url(../images/email.png);
}
.test>ul>li:nth-child(5){
      list-style-image: url(../images/website.png);
}
.common{
      text-align: center;
      background-color: aquamarine;
      margin: 10px;
      border-radius: 20px;
      padding: 10px;
      margin-top: 80px;
}
.common:hover{
      background-color: rgb(54, 14, 14);
}
.common>a{
      padding: 3px;
}
.test>ul>p{
      font-size: 13px;
      margin-left: 24px;
}
.test>ul>li, .test>ul>p{
      line-height: 0;
}